@import './reset.css';

* {
  color: #fff !important;
  ::selection {
    background: #0066ff !important;
  }
}

.green--text {
  color: #33ff00 !important;
}

.purple--text {
  color: #cc00ff !important;
}

.blue--text {
  color: #66ccff !important;
}
